<div class="home-container">

  <div class="oll1">
<div class="oll">
    <img class="img" src="/01J3JDYZAGCB5TBZ57PXAT6BBY.svg" alt>
    <h1 class="home-title">Зиғар зодгоҳи <br> маърифат</h1>
  </div>
  <div class="home-title" id="openModal">Хабарҳо</div>
  </div>

  <nav class="class-links">
    <div class="class-list">
      <div><a routerLink="/class5" class="class-link"><div> <img class="imgoll" src
            alt> &nbsp; <div *ngIf="topStudents.length">
              <p class="op">{{ topStudents[0]?.firstName }} <br> {{ topStudents[0]?.lastName }}</p>
            </div>
            </div> Хонандагони <br> синфи 5</a></div>
      <div><a routerLink="/class6" class="class-link"><img class="imgoll" src
            alt> &nbsp;  <div *ngIf="topStudents.length">
              <p class="op">{{ topStudents[0]?.firstName }} <br> {{ topStudents[0]?.lastName }}</p>
            </div> Хонандагони <br> синфи 6</a></div>
      <div><a routerLink="/class7" class="class-link"><img class="imgoll" src
            alt> &nbsp; Хонандагони <br> синфи 7</a></div>
      <div><a routerLink="/class8" class="class-link"><img class="imgoll" src
            alt> &nbsp; Хонандагони <br> синфи 8</a></div>
      <div><a routerLink="/class9" class="class-link"><img class="imgoll" src
            alt> &nbsp; Хонандагони <br> синфи 9</a></div>
      <div><a routerLink="/class10" class="class-link"><img class="imgoll" src
            alt> &nbsp; Хонандагони <br> синфи 10</a></div>
      <div><a routerLink="/class11" class="class-link"><img class="imgoll" src
            alt> &nbsp; Хонандагони <br> синфи 11</a></div>
      <div><a routerLink="/admin-class5" class="class-link">Admin</a></div>
    </div>
  </nav>
  
  <router-outlet></router-outlet>
</div>


<div *ngIf="topStudents.length">
  <p>{{ topStudents[0]?.firstName }} {{ topStudents[0]?.lastName }}</p>
 
</div>