<div class="home-container">

  <div class="oll1">
<div class="oll">
    <img (click)="openLoginModal()" class="img" src="/01J3JDYZAGCB5TBZ57PXAT6BBY.svg" alt>
    <h1 class="home-title">Зиғар зодгоҳи <br> маърифат</h1>
  </div>
  <div class="home-title" id="openModal">Хабарҳо</div>
  </div>
<br><br>
  <nav class="class-links">
    <div class="xat"> 
  <h1 routerLink="/UserList" class="h11">Архив</h1>
  <h1  routerLink="/Achievements" class="h11">Мувафакиятхо</h1>
  <h1   class="h11">Маълумот</h1>
   </div><br>
    <div class="class-list">
    <!-- Синфи 5 -->
<!-- Синфи 5 -->
<div>
  <a routerLink="/class5" class="class-link">
    <div class="ngg" *ngIf="topStudentsByClass[5]; ">
      {{ topStudentsByClass[5].name }}
    </div>
  
    Хонандагони <br> синфи 5
  </a>
</div>

<!-- Синфи 6 -->
<div>
  <a routerLink="/class6" class="class-link">
    <div class="ngg" *ngIf="topStudentsByClass[6]; ">
      {{ topStudentsByClass[6].name }}
    </div>
  
    Хонандагони <br> синфи 6
  </a>
</div>

<!-- Синфи 7 -->
<div>
  <a routerLink="/class7" class="class-link">
    <div class="ngg" *ngIf="topStudentsByClass[7]; ">
      {{ topStudentsByClass[7].name }}
    </div>
  
    Хонандагони <br> синфи 7
  </a>
</div>

<!-- Синфи 8 -->
<div>
  <a routerLink="/class8" class="class-link">
    <div class="ngg" *ngIf="topStudentsByClass[8]; ">
      {{ topStudentsByClass[8].name }}
    </div>
  
    Хонандагони <br> синфи 8
  </a>
</div>

<!-- Синфи 9 -->
<div>
  <a routerLink="/class9" class="class-link">
    <div class="ngg" *ngIf="topStudentsByClass[9]; ">
      {{ topStudentsByClass[9].name }}
    </div>
  
    Хонандагони <br> синфи 9
  </a>
</div>

<!-- Синфи 10 -->
<div>
  <a routerLink="/class10" class="class-link">
    <div class="ngg" *ngIf="topStudentsByClass[10];">
      {{ topStudentsByClass[10].name }}
    </div>
  
    Хонандагони <br> синфи 10
  </a>
</div>

<!-- Синфи 11 -->
<div>
  <a routerLink="/class11" class="class-link">
    <div class="ngg" *ngIf="topStudentsByClass[11]; ">
      {{ topStudentsByClass[11].name }}
    </div>
 
    Хонандагони <br> синфи 11
  </a>
</div>

      

<!-- Модал -->
<div class="modal" *ngIf="showLoginModal">
  <div class="modal-content">
    <h3>Логин</h3>

    <input #usernameInput type="text" placeholder="Номи корбар" />
    <input #passwordInput type="password" placeholder="Парол" />

    <div class="modal-buttons">
      <button (click)="login(usernameInput.value, passwordInput.value)">Ворид шудан</button>
      <button (click)="closeLoginModal()">Бастан</button>
    </div>

    <div *ngIf="showError" style="color:red">Логин ё парол хато аст</div>
  </div>
</div>

<router-outlet></router-outlet>

    </div>
  </nav>
  
  <router-outlet></router-outlet>
</div>


