
<div class="oll">
<div class="month-buttons">
  <div *ngFor="let month of months" class="month-row">
 



 <button (click)="openModal(month)" class="month-button">
  <div class="graph-bars" *ngIf="month && hasAnyPercentage(month)">
    <!-- Захираи натиҷаҳо ба тағйирёбандаи миёнарав -->
    <ng-container *ngIf="getPercentageByGradeRangeForMonth(month) as percentages">
      <div class="bar" *ngIf="percentages.red > 0">
        <span class="percentage">{{ percentages.red.toFixed(1) }}%</span>
        <div class="fill red" [ngStyle]="{ height: percentages.red + '%' }"></div>
      </div>
      <div class="bar" *ngIf="percentages.yellow > 0">
        <span class="percentage">{{ percentages.yellow.toFixed(1) }}%</span>
        <div class="fill yellow" [ngStyle]="{ height: percentages.yellow + '%' }"></div>
      </div>
      <div class="bar" *ngIf="percentages.green > 0">
        <span class="percentage">{{ percentages.green.toFixed(1) }}%</span>
        <div class="fill green" [ngStyle]="{ height: percentages.green + '%' }"></div>
      </div>
    </ng-container>
  </div>
  Архиви мохи {{ month }}
</button>

    
  </div>
</div>

<div *ngIf="selectedMonth" class="modal-overlay" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h2>{{ selectedMonth }}</h2>
    <p>Ин модалкаи {{ selectedMonth }} аст.</p>

    <table *ngIf="filteredArchivedUsers.length > 0" class="archive-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Ном</th>
          <th>Номи падар</th>
          <th>Соли таваллуд</th>
          <th>Синф</th>
          <th>Хол 1</th>
          <th>Хол 2</th>
          <th>Хол 3</th>
          <th>Хол 4</th>
          <th>Статус</th>
          <th>Архив шуд дар</th>
          <th>Ҳамагӣ</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of filteredArchivedUsers">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.father_name }}</td>
          <td>{{ user.birth_year }}</td>
          <td>{{ user.classid }}</td>
          <td>{{ user.grade1 }}</td>
          <td>{{ user.grade2 }}</td>
          <td>{{ user.grade3 }}</td>
          <td>{{ user.grade4 }}</td>
          <td>{{ user.status }}</td>
          <td>{{ user.archived_at | date:'dd.MM.yyyy HH:mm' }}</td>
          <td>{{ getTotalGrade(user) }}</td>
        </tr>
      </tbody>
    </table>

    <p *ngIf="filteredArchivedUsers.length === 0">Маълумот нест.</p>

    <button (click)="closeModal()">Бастан</button>
  </div>
</div>
</div>